{% extends 'layout.html.twig' %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/collections.css" />
{% endblock %} {% block title %}Gestion des Collections{% endblock %} {% block
content %}
<div class="container2">
    <section class="return">
        <a href="/admin/categories">Retour choix Média</a>
    </section>

    <h1>Gestion des Categories</h1>

    <!-- Section 1: La liste des médias en titre et son tableau en dessous -->
    <div class="media-list-section">
        {% if types %}
        <h2>Liste des Types</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                <tr>
                    <td>{{ type.name }}</td>
                    <td class="options">
                        <form>
                            <input type="button"
                                onclick="window.location.href='/admin/types/{{media_type}}/edit?id={{ type.id }}';"
                                value="Modifier" />
                        </form>
                        <form action="/admin/types/{{media_type}}/delete" method="POST"
                            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ type.name }} ?')">
                            <input type="hidden" name="id" value="{{ type.id }}">
                            <input type="submit" class="delete" value="Supprimer">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        
        <div class="add-media-section">
            <h2>Ajouter un type</h2>
            <a href="/admin/types/{{media_type}}/add" class="add-media-btn">Ajouter type</a>
        </div>
        <br>
        {% endif %}

        <h2>Liste des Catégories</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                {% for categorie in categories %}
                <tr>
                    <td>{{ categorie.name }}</td>
                    <td class="options">
                        <form>
                            <input type="button"
                                onclick="window.location.href='/admin/categories/{{media_type}}/edit?id={{ categorie.id }}';"
                                value="Modifier" />
                        </form>
                        {# <a class="edit" href="{{media_type}}/edit?id={{ categorie.id }}">Modifier</a> #}
                        <form action="/admin/categories/{{media_type}}/delete" method="POST"
                            onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ categorie.name }} ?')">
                            <input type="hidden" name="id" value="{{ categorie.id }}">
                            <input type="submit" class="delete" value="Supprimer">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>

    <!-- Section 3: Ajouter un média -->
    <div class="add-media-section">
        <h2>Ajouter une catégorie</h2>
        <a href="/admin/categories/{{media_type}}/add" class="add-media-btn">Ajouter catégorie</a>
    </div>
</div>
{% endblock %}