{% extends 'layout.html.twig' %} {% block title %}Home{% endblock %} {% block
page %}home{% endblock %} {% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home.css" />
{% endblock %} {% block javascript %}
<script defer src="/assets/javascript/home.js"></script>
{% endblock %} {% block content %} {% include 'Base/_search.html.twig' %}

<main>
    <section class="carousel">
        <button class="fleche" id="fleche_gauche">&#8249;</button>
        <button class="fleche" id="fleche_droite">&#8250;</button>
        <ul class="slides_container" id="slides_container">
            {% for media in medias %}
            <li class="slide">
                {% if media.mediaType == 'books' %}
                <h2>Dernier livre</h2>
                {% elseif media.mediaType == 'musics' %}
                <h2>Dernière musique</h2>
                {% elseif media.mediaType == 'videos' %}
                <h2>Dernière vidéo</h2>
                {% endif %}

                <a href="/{{ media.mediaType }}/show?id={{ media.id }}">
                    {% if media.picture %}
                    <img
                        class="slide_picture"
                        src="{{ media.picture }}"
                        alt="{{ media.title }}"
                    />
                    {% else %}
                    <img
                        class="slide_picture"
                        src="/assets/images/covers/couverture-{{
                            media.mediaType
                        }}.webp"
                        alt="{{ media.title }}"
                    />
                    {% endif %}
                </a>

                <div class="info">
                    <h3>{{ media.title }}</h3>

                    {% if media.mediaType == 'books' %}
                    <p><strong>Auteur :</strong> {{ media.author }}</p>
                    <p><strong>Pages :</strong> {{ media.pages }}</p>
                    {% elseif media.mediaType == 'musics' %}
                    <p><strong>Chanteur :</strong> {{ media.singer }}</p>
                    <p>
                        <strong>Durée :</strong>
                        {{ media.duration|date('H:i:s') }}
                    </p>
                    {% elseif media.mediaType == 'videos' %}
                    <p><strong>Réalisateur :</strong> {{ media.director }}</p>
                    <p>
                        <strong>Durée :</strong>
                        {{ media.duration|date('H:i:s') }}
                    </p>
                    {% endif %}
                    <p>
                        <strong>Date de sortie :</strong>
                        {{ media.date|format_datetime('long', 'none', locale='fr') }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
        <div class="slider-indicators">
            {% for media in medias %}
            <div class="indicator"></div>
            {% endfor %}
        </div>
    </section>

    <article class="article recommandations">
        <h2>RECOMMANDATIONS</h2>
        <ul>
            <li>
                <a href="/books/show?id=125">
                    <img
                        class="article_img"
                        src="https://s1.qwant.com/thumbr/474x640/1/f/d97f78445495cb4f0636b7e153a3bf998826a7f16825926220618f678f87a6/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP._LkrGZrdRirNI5TTyce0OgHaKA%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="recommandation book"
                    />
                </a>
            </li>
            <li>
                <a href="/musics/show?id=154">
                    <img
                        class="article_img"
                        src="https://s1.qwant.com/thumbr/474x474/a/a/16109fa88cdfc4250f53ce87478b3687950503a1e921b4a3356aa11837e48a/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.gIUeovEDT0IhEQudu-TqYAHaHa%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="recommandation music"
                    />
                </a>
            </li>
            <li>
                <a href="/videos/show?id=3">
                    <img
                        class="article_img"
                        src="https://s2.qwant.com/thumbr/474x615/7/0/3e69f17f3cb730aa45054a0a8155173c18a90ce052f0ca3c76c9ca15ce730d/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.wp1GjgnB_IF50Wket59cuQHaJn%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="recommandation video"
                    />
                </a>
            </li>
        </ul>
    </article>

    <article class="article informations">
        <h2>POPULAIRE</h2>
        <ul id="populaireList">
            <li data-id="1">
                <a href="/books/show?id=4">
                    <img
                        class="article_img"
                        src="https://s1.qwant.com/thumbr/474x654/2/0/fc4e69611916bceedb29d3a308f03c434218561b453c0f6248376be3c159fa/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.BiMMOjDrzbTC418N8HgvTAHaKO%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="populaire book"
                    />
                </a>
            </li>
            <li data-id="2">
                <a href="/musics/show?id=81">
                    <img
                        class="article_img"
                        src="https://s2.qwant.com/thumbr/474x474/d/9/1d5e03360caf4ffaa3d6565cd5df823fa98b3341f639707f66834b773a9673/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.mKBT1nEhCqbE5Gq5jtBv2QHaHa%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="populaire music"
                    />
                </a>
            </li>
            <li data-id="3">
                <a href="/videos/show?id=19">
                    <img
                        class="article_img"
                        src="https://s2.qwant.com/thumbr/474x631/4/b/7df12a624e9cea5461647c10adc8de0c88d00669b8b9271b261c6f5bd6535f/th.jpg?u=https%3A%2F%2Ftse.mm.bing.net%2Fth%3Fid%3DOIP.cjjqH0c_l9Bhu_SMtR-2iAHaJ3%26pid%3DApi&q=0&b=1&p=0&a=0"
                        alt="populaire video"
                    />
                </a>
            </li>
        </ul>
       
    </article>
    <article class="article informations">
        <h2>EVENEMENTS</h2>
        <h3>Cours en ligne "Veille Technique Symfony 7" avec Stevens</h3>
        Vendredi 2 août 2024 (Contactez notre accueil pour vous inscrire et
        recevoir vos accès au MEET)
        <p>15h - 15h30</p>

        <h3>Ateliers Culinaires avec Maïté</h3>
        Mercredi 7, jeudi 8 août 2024 (Contactez notre accueil pour vous
        inscrire)
        <p>15h - 17h</p>

        <h3>Show en ligne "Crois en toi" avec Oprah Winfrey</h3>
        Vendredi 9 août 2024 (Contactez notre accueil pour vous inscrire et
        recevoir vos accès au MEET)
        <p>14h - 16h</p>
        <p>
            <em
                >*N'hésitez pas à nous contacter par mail ou téléphone pour plus
                d'informations sur nos évènements actuels !</em
            >
        </p>
    </article>
</main>

{% endblock %}
