{% extends 'layout.html.twig' %}
{% block title %}Home{% endblock %}

{% block page %}home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block javascript %}
<script defer src="/assets/javascript/home.js"></script>
{% endblock %}

{% block content %}
{% include 'Base/_search.html.twig' %}

<main>

    <section class="carousel">

        <button class="fleche" id="fleche_gauche">
            &#8249;
        </button>

        <button class="fleche" id="fleche_droite">
            &#8250;
        </button>
        <ul class="slides_container" id="slides_container">
            {% for media in medias %}
                <li class="slide">
                    {% if media.mediaType == 'books' %}
                        <h2>Dernier livre</h2>
                    {% elseif media.mediaType == 'musics' %}
                        <h2>Dernière musique</h2>
                    {% elseif media.mediaType == 'videos' %}
                        <h2>Dernière video</h2>
                    {% endif %}

                    {% if media.picture %}
                        <img class="slide_picture" src="{{ media.picture }}" alt="{{ media.title }}">
                    {% else %}
                        <img  class="slide_picture" src="/assets/images/covers/couverture-{{media.mediaType}}.webp" alt="{{ media.title }}">
                    {% endif %}

                    <div class="info">
                        <h3>{{ media.title }}</h3>

                        {% if media.mediaType == 'books' %}
                            <p><strong>Auteur :</strong> {{ media.author }}</p>
                            <p><strong>Pages :</strong> {{ media.pages }}</p>
                        {% elseif media.mediaType == 'musics' %}
                            <p><strong>Chanteur :</strong> {{ media.singer }}</p>
                            <p><strong>Durées :</strong> {{ media.duration|date('H:i:s') }}</p>
                        {% elseif media.mediaType == 'videos' %}
                            <p><strong>Réalisateur :</strong> {{ media.director }}</p>
                            <p><strong>Durées :</strong> {{ media.duration|date('H:i:s') }}</p>
                        {% endif %}
                        <p><strong>Date de sortie :</strong> {{ media.date|format_datetime('long', 'none', locale='fr') }}</p>
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="slider-indicators">
            {% for media in medias %}
                <div class="indicator"></div>
            {% endfor %}
        </div>
    </section>

    <article class="article recommandations">
        <h2>RECOMMANDATIONS</h2>
        <ul>
            <li><img class="article_img" src="https://i.pinimg.com/originals/8a/c7/ca/8ac7ca28a33e990718a07303fe8cf48e.jpg" alt="recommandation book"></li>
            <li><img class="article_img" src="https://vignette3.wikia.nocookie.net/pinkfloyd/images/4/45/The_Dark_Side_Of_The_Moon.jpg/revision/latest?cb=20060830125611" alt="recommandation music"></li>
            <li><img class="article_img" src="https://image.tmdb.org/t/p/w440_and_h660_face/eTYBrL8lVcaG6AySocVe4eNltih.jpg" alt="recommandation video"></li>
        </ul>
        <p class="button">Voir plus</p>
    </article>

    <article class="article populaire">
        <h2>POPULAIRE</h2>
        <ul>
            <li><img class="article_img" src="https://images.leslibraires.ca/books/9782892616019/front/9782892616019_large.jpg" alt="populaire book"></li>
            <li><img class="article_img" src="https://i0.wp.com/www.scienceofnoise.net/wp-content/uploads/2021/11/the-pick-of-destiny-4e0fa734efce5.jpg" alt="populaire music"></li>
            <li><img class="article_img" src="https://flxt.tmsimg.com/assets/p19396843_b_v10_ae.jpg" alt="populaire video"></li>
        </ul>
        <p class="button">Voir plus</p>
    </article>

    <article class="article informations">
        <h2>INFORMATIONS</h2>
        <ul>
            <li>
                <h6>HORAIRES</h6>
            </li>
            <li>
                <p>9h-18h</p>
            </li>
            <li>
                <h6>ADRESSE</h6>
            </li>
            <li>
                <p>123 Rue Wild School Code</p>
            </li>
            <li>
                <p>59000 Lille</p>
            </li>
        </ul>

    </article>
</main>
{% endblock %}
