{% extends 'layout.html.twig' %}
{% block title %}Home{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/home.css">
{% endblock %}

{% block javascript %}
<script defer src="/assets/javascript/home.js"></script>
{% endblock %}

{% block content %}
{% include 'Base/_search.html.twig' %}

<main>

    <section class="caroussel">

        <button class="fleche" id="fleche_gauche">
            &#8249;
        </button>

        <button class="fleche" id="fleche_droite">
            &#8250;
        </button>
        <ul class="slides_container" id="slides_container">
            <li class="slide">
                <h2>Dernier livre</h2>
                {% if carrouselImg.picture %}
                    <img class="slide_picture" src="{{ carrouselImg.0.picture }}" alt="{{ carrouselImg.0.title }}">
                {% else %}
                    <img  class="slide_picture" src="/assets/images/covers/couverture-{{media_type.0}}.webp" alt="cover">
                {% endif %}
            </li>
            <li class="slide">
                <h2>Derniere musique</h2>
                {% if carrouselImg.picture %}
                    <img class="slide_picture" src="{{ carrouselImg.1.picture }}" alt="{{ carrouselImg.0.title }}">
                {% else %}
                    <img  class="slide_picture" src="/assets/images/covers/couverture-{{media_type.1}}.webp" alt="cover">
                {% endif %}
            </li>
            <li class="slide">
                <h2>Derniere video</h2>
                {% if carrouselImg.picture %}
                    <img class="slide_picture" src="{{ carrouselImg.2.picture }}" alt="{{ carrouselImg.0.title }}">
                {% else %}
                    <img  class="slide_picture" src="/assets/images/covers/couverture-{{media_type.2}}.webp" alt="cover">
                {% endif %}
            </li>
        </ul>
    </section>

    <article class="article recommandations">
        <h2>RECOMMANDATIONS</h2>
        <ul>
            <li><img class="article_img" src="https://i.pinimg.com/originals/8a/c7/ca/8ac7ca28a33e990718a07303fe8cf48e.jpg" alt="recommandation book"></li>
            <li><img class="article_img" src="https://vignette3.wikia.nocookie.net/pinkfloyd/images/4/45/The_Dark_Side_Of_The_Moon.jpg/revision/latest?cb=20060830125611" alt="recommandation music"></li>
            <li><img class="article_img" src="https://image.tmdb.org/t/p/w440_and_h660_face/eTYBrL8lVcaG6AySocVe4eNltih.jpg" alt="recommandation video"></li>
        </ul>
        <h3 class="button">Voir plus</h3>
    </article>

    <article class="article populaire">
        <h2>POPULAIRE</h2>
        <ul>
            <li><img class="article_img" src="https://images.leslibraires.ca/books/9782892616019/front/9782892616019_large.jpg" alt="populaire book"></li>
            <li><img class="article_img" src="https://i0.wp.com/www.scienceofnoise.net/wp-content/uploads/2021/11/the-pick-of-destiny-4e0fa734efce5.jpg" alt="populaire music"></li>
            <li><img class="article_img" src="https://flxt.tmsimg.com/assets/p19396843_b_v10_ae.jpg" alt="populaire video"></li>
        </ul>
        <h3 class="button">Voir plus</h3>
    </article>

    <article class="article informations">
        <h2>INFORMATIONS</h2>
        <ul>
            <li>
                <h6>HORAIRES</h6>
            </li>
            <li>
                <p>9h-18h</p>
            </li>
            <li>
                <h6>ADRESSE</h6>
            </li>
            <li>
                <p>123 Rue Wild School Code</p>
            </li>
            <li>
                <p>59000 Lille</p>
            </li>
        </ul>

    </article>
</main>
{% endblock %}