{% extends 'layout.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/medias.css">
{% endblock %}

{% block page_title %}
    <div class="header">
        {% include 'Base/_search.html.twig' %}

        <h1>{{ page_title }}</h1>
    </div>
{% endblock %}

{% block content %}
    <section class="return">
        {% if media_type == 'books' %}
            <a href="/{{ media_type }}/add">Ajouter un livre</a>
        {% elseif media_type == 'musics' %}
            <a href="/{{ media_type }}/add">Ajouter une musique</a>
        {% elseif media_type == 'videos' %}
            <a href="/{{ media_type }}/add">Ajouter une videos</a>
        {% endif %}
    </section>
    <div class="filters">
        {% for filter in filters %}
            <span class="chip">{{ filter }}</span>
        {% endfor %}
    </div>

    <div class="cards">
        {% for item in medias %}
            <div class="card">
                {% if item.picture %}
                    <img src="{{ item.picture }}" alt="{{ item.title }}">
                {% else %}
                    <img src="/assets/images/covers/couverture-livre.webp" alt="cover">
                {% endif %}
                <h2>{{ item.title }}</h2>

                <div class="categories">
                    {% for category in item.categories %}
                        <span class="category">{{ category.name }}</span>
                    {% endfor %}
                    {% for type in item.types %}
                        <span class="category">{{ type.name }}</span>
                    {% endfor %}
                </div>

                <a href="/{{media_type}}/show?id={{ item.id }}" class="btn">Voir Détails</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}


