{% extends 'layout.html.twig' %}

{% block title %}
    {{ media.title }}
{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/show.css">
{% endblock %}

{% block content %}
    <section class="return">
        <a href="/{{ media_type }}">Retour aux résultats</a>
    </section>
    <section class="media-details">
        <div class="picture">
            {% if media.picture %}
                <img src="{{ media.picture }}" alt="{{ media.title }}">
            {% else %}
                <img src="/assets/images/covers/couverture-{{media_type}}.webp" alt="cover">
            {% endif %}
        </div>

        <div class="media-info">
            <h1>{{ media.title }}</h1>
            {% if media_type == 'videos' %}
                <p><strong>Type :</strong> {{ media.type }}</p>
            {% endif %}
            {% if media_type == 'books' %}
                <p><strong>Auteur :</strong> {{ media.author }}</p>
            {% elseif media_type == 'musics' %}
                <p><strong>Chanteur :</strong> {{ media.singer }}</p>
            {% elseif media_type == 'videos' %}
                <p><strong>Réalisateur :</strong> {{ media.director }}</p>
            {% endif %}
            <p><strong>Date de publication :</strong> {{ media.date|format_datetime('long', 'none', locale='fr') }}</p>
            {% if media_type == 'books' %}
                <p><strong>Pages :</strong> {{ media.pages }}</p>
            {% else %}
                <p><strong>Durées :</strong> {{ media.duration|date('H:i:s') }}</p>
            {% endif %}
            <p><strong>Description :</strong><br> {{ media.description }}</p>
            <p><strong>Quantité disponible :</strong> {{ media.quantities }}</p>
            <p><strong>Catégorie :</strong> {{ media.category }}</p>

            <div class="button">
                {% if app.userRole == 'admin' %}
                    <a class="edit" href="/{{media_type}}/edit?id={{ media.id }}">Modifier</a>
                    <form action="/{{media_type}}/delete" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer {{ media.title }} ?')">
                        <input type="hidden" name="id" value="{{ media.id }}">
                        <input type="submit" class="delete" value="Supprimer">
                    </form>
                {% elseif app.userRole == 'user' %}
                    {% if media.quantities > 0 %}
                        <form action="/borrowings/add" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir réserver {{ media.title }} ?')">
                            <input type="hidden" name="id" value="{{ media.id }}">
                            <input type="hidden" name="media_type" value="{{ media_type }}">
                            <input type="submit" class="reserve" value="Réserver">
                        </form>
                    {% else %}
                        <p class="out-of-stock">Réservation impossible : stock épuisé</p>
                        <form>
                            <input type="submit" class="reserve" value="Réserver" disabled>
                        </form>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
